body{
    background-color: dimgray;
}
h1{
    color: #a6acff;
}
h2{
    color: #a6acff;
}
a{
    color: darkred;
    font-family: "Times New Roman", Times, Serif;
    font-weight: bold;
    text-decoration: none;
}
a.hover{
    text-underline: darkred;
}

em{
    color: #fff965;
    font-family: "Courier 10 Pitch", serif;
    font-weight: bold;
}
